body {
  background-color: #f8f9fa;
}

.hero-section {
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1441986300917-64674bd600d8");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  z-index: 2;
}

.card {
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  height: 250px;
  object-fit: contain;
  padding: 20px;
}

.modal-body img {
  height: 350px;
  object-fit: contain;
}
body {
  background: #f5f5f5;
}

.product-card {
  transition: 0.3s;
  border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15) !important;
}

.card-title {
  font-size: 17px;
  font-weight: bold;
}

.card img {
  transition: 0.4s;
}

.product-card:hover img {
  transform: scale(1.05);
}

.btn-dark {
  border-radius: 30px;
}
